<h1>About</h1>
<div class="container mt-4 d-flex flex-column align-items-center">
    <p>Made for <strong>Global Game Jam 2020</strong></p>
    <p><strong>Gabriel Toschi</strong>: game design, research, UI design</p>
    <p><strong>David Rodrigues</strong>: front-end programming</p>
    <p>Special thanks for all in São Carlos GGJ site for help and for all folks on Wikipedia for all the information!
    </p>
    <img src="../../assets/images/ggjLogo.png" class="logo" alt="GGJ-Logo">
</div>
<div class="d-flex flex-column align-items-center">
    <button type="button" class="btn btn-primary col-10" routerLink="/../">
        Main Menu
    </button>
</div>
