<h1>CHOOSE GAME DURATION</h1>

<div class="d-flex flex-column px-4 align-items-center">
    <button type="button" class="col-12 btn btn-primary btn-lg" [routerLink]="['..','play',gameModes.Fast]">
        Fast
    </button>
    <button type="button" class="col-12 btn btn-primary btn-lg" [routerLink]="['..','play',gameModes.Regular]">
        Regular
    </button>
    <button type="button" class="col-12 btn btn-primary btn-lg" [routerLink]="['..','play',gameModes.Legend]">
        Legend
    </button>
    <button type="button" class="col-5 btn btn-primary" routerLink="/../">BACK</button>
</div>
