.logo {
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    width: 80%;
}


@media (min-width: 1000px){
    .logo {
        padding-top: 5%;
        padding-bottom: 8%;
        width: 60%;
    }
}
