<h1>How to Play</h1>
<div class="container d-flex flex-column align-content-center text-justify">
    <p>You and your friends are part of teams of time travelers. Two teams compete with each other to reach their
        ultimate
        goal: the <strong>PARADOX THIEVES</strong>, who want to steal history's most precious treasures, and the
        <strong>GUARDIANS OF TIME</strong>, who want to restore time and prevent its collapse.</p>
    <p>To play, both teams must choose players to be their respective captains; only the captains are allowed to
        look at the screen during the game. For each mission, the captains must look the century and category of the
        desired
        goal and tell
        the other players, who will try to guess what it is and win the goal for them. The captains must alternate
        giving
        clues about
        the object to their respective teams, but, after a clue is given, only the oposite team is allowed to guess.
        Each
        team may discuss and is allowed one guess per
        turn. The team who wins the goal is on step closer to conquering time.</p>
    <p>There are three types of game modes: Fast, Regular and Legend. In Fast mode, players compete for the best out of
        three
        missions, in Regular, for the best out of five of missions, and in Legend for the best out of seven missions.
    </p>
</div>
<div class="d-flex flex-fill">
    <button type="button" class="btn btn-primary col-5 mr-auto" routerLink="../start">
        START
    </button>
    <button type="button" class="btn btn-primary col-5 ml-auto" routerLink="">
        MAIN MENU
    </button>
</div>
