<h1>How to Play</h1>
<p>You and your friends are part of team of time travelers. Two teams compete with each other to reach their ultimate
    goal. The <strong>THIEVES</strong> who want to steal history's most precious treasures. And the
    <strong>GUARDIANS</strong>, who want to restore time
    and prevent its collapse.</p>
<p>To play, both teams must choose its respective captains, only the captains are allowed to
    look at the screen. For each mission the capitains must look the century and category of the desired goal and tell
    the other players, who will try to guess and win the goal for them. The capitains must alternate giving tips about
    the object to their respective teams, but,
    after a tip is given, only the oposite team is allowed to guess. Each team may discuss and is allowed on guess per
    turn. The team who wins the goal is on step closer to conquering time.</p>
<p>There are three types of game modes: Fast, Regular and Legend. In Fast mode players compete for the best out of three
    games. In Regular for the best out of five of games. And in Legend for the best out of seven games.</p>
<div>
    <button type="button" class="btn btn-primary" routerLink="../start">
        Start
    </button>
    <button type="button" class="btn btn-secondary" routerLink="">
        Main Menu
    </button>
</div>
