/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

$th-yellow: #FFD524;
$th-purple: #290849;

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: url(/assets/images/bg.png);
    background-repeat: repeat;
    width: 100%;
    padding-top: 20px;
}

@media (min-width: 1000px){
    body {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.app-button-style {
    font-weight: 600;
    border-radius: 0;
}

.btn {
    font-size: 30px;
    border: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn-primary {
    @extend .app-button-style;
    background-color: $th-yellow;
    color: $th-purple;
}

.btn-secondary {
    @extend .app-button-style;
    background-color: transparent;
    color: $th-yellow;
}

.btn-primary:hover {
    background-color: $th-yellow !important;
    color: $th-purple !important;
}

.btn-secondary:hover {
    background-color: transparent;
    color: $th-yellow;
}

h1 {
    color: $th-purple;
    background-color: $th-yellow;
    font-weight: 600;
    text-align: center;
}

p {
    color: $th-yellow;
}
